<div class="product-reviews col-lg-6 col-md-8 col-sm-12">
  <% @comments.each do |comment| %>
    <%= render comment %>
  <% end %>
  <%= will_paginate(@comments, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-sm') %>
</div>
